# Ignore node_modules directory
node_modules/

# Ignore built extension files
out/
dist/

# Ignore temporary files
.vscode/
.vs/

# Ignore user-specific settings
.settings/

# Ignore logs
*.log

# Ignore editor-specific files
*.sublime-project
*.sublime-workspace
*.idea/
*.vscode/
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db